{% extends 'SpoiledMilkYoghurtBundle::layout.html.twig' %}

{% block title %}
 :: Edit Vocabulary
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Edit Vocabulary<small> | {{ entity.name }}</small></h1>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span2">
            <div class="well">
                <ul class="nav nav-list" style="padding: 0;">
                    <li>
                        <a href="{{ path('yoghurt_vocabulary') }}">
                            <i class="icon-arrow-left"></i>
                            Back to list
                        </a>
                    </li>
                    <li>
                        <a href="#addTermModal"
                           data-toggle="modal">
                            <i class="icon-plus"></i>
                            Add term
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="span9">
            <div>
                <h3 style="display: inline-block; margin-right: 12px">Name:</h3>{{ entity.name }}<br/>
                <h3 style="display: inline-block; margin-right: 12px">Slug:</h3>{{ entity.slug }}
            </div>

            <div style="margin-top: 40px">
                <h3>Entity types</h3>
                {% if entity.entityTypeVocabularies|length > 0 %}
                    <table class="table">
                        <thead>
                            <th>Entity type</th>
                            <th>Mandatory use</th>
                        </thead>
                        <tbody>
                            {% for etv in entity.entityTypeVocabularies %}
                                <tr>
                                    <td>{{ etv.entityType.name }}</td>
                                    <td>{% if etv.mandatory %}Yes{% else %}No{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This vocabulary is not used anywhere</p>
                {% endif %}
            </div>

            <div style="margin-top: 40px">
                <h3>Terms</h3>
                {% if entity.terms|length > 0 %}
                    <table class="table">
                        <thead>
                            <th>Term</th>
                            <th>Slug</th>
                            <th>Actions</th>
                        </thead>

                        <tbody>
                            {% for term in terms %}
                                <tr>
                                    <td>{{ term.getQualifiedTerm() }}</td>
                                    <td>{{ term.slug }}</td>
                                    <td>
                                        <a href="{{ path('yoghurt_term_edit', {'termId': term.id}) }}"
                                        class="btn btn-primary"
                                        style="margin-right: 10px">
                                            Edit
                                        </a>

                                        <a href="{{ path('yoghurt_vocabulary_removeterm', {'vocabularyId': entity.id, 'termId': term.id}) }}"
                                        class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <div class="alert-block">
                    This vocabulary doesn't have any terms.
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<div id="addTermModal" class="modal fade">
    <form action="{{ path('yoghurt_vocabulary_addterm', {'id': entity.id}) }}"
          method="post"
          novalidate="novalidate">

        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add term</h3>
        </div>

        <div class="modal-body">
            {{ form_widget(term_form) }}
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

{% endblock %}
