{% extends 'SpoiledMilkYoghurtBundle::layout.html.twig' %}

{% block title %}
 :: Edit {{ entity.entityType.name }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Edit {{ entity.entityType.name }}</h1>
</div>
 
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span12">
            <form action="{{ path('yoghurt_entity_update', { 'id': entity.id }) }}" 
                method="post" 
                novalidate="novalidate"
                {{ form_enctype(edit_form) }}>

                {{ form_row(edit_form.title) }}
                {{ form_row(edit_form.slug) }}
                {{ form_row(edit_form.status) }}
                {{ form_row(edit_form.position) }}
                
                {% if edit_form.terms is defined %}
                    {{ form_row(edit_form.terms) }}
                {% endif %}
                
                {{ form_row(edit_form._token) }}
                
                {% if repeating_forms %}
                    <div class="btn-group" style="margin-bottom: 15px">
                        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                            Add repeating field
                            <span class="caret"></span>
                        </button>
                            
                        <ul class="dropdown-menu">
                            {% for key, val in repeating_forms %}
                                <li>
                                    <a href="{{'#modal-' ~ loop.index }}" 
                                       data-toggle="modal">
                                        Add {{ val['field_label'] }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                {% for key, fv in edit_form.fieldValues %}
                    <div class="control-group">
                        {{ form_label(fv.value) }}
                        {% if form_errors(fv) %}
                            <div class="symfony-form-errors">
                                {{ form_errors(fv) }}
                            </div>
                        {% endif %}
                        <div class="controls">
                            {{ form_widget(fv.value) }} 
                            
                            {% if entity.fieldValues[key].field.repeating %}
                                <a href="{{ path('yoghurt_entity_removeFieldValue', {'entityId': entity.id, 'fieldValueId': entity.fieldValues[key].id}) }}">
                                    <i class="icon-remove"></i>
                                    Remove field
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                        
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn" href="{{ path('yoghurt_entitytype_show', {'id': entity.entityType.id}) }}">Cancel</a>
                    <a class="btn btn-danger" 
                       href="{{ path('yoghurt_entity_delete', { 'id': entity.id }) }}"
                       onclick="return confirm('This action is immediate, and all data in this entity will be lost.\nAre you sure?')">
                        Delete
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>

{% for key, val in repeating_forms %}
    <div class="modal fade" id="{{'modal-' ~ loop.index }}">
        <form action="{{ path('yoghurt_entity_addFieldValue', {'entityId': entity.id, 'fieldId': val['field_id']}) }}" 
              method="post"
              class="form-horizontal"
              novalidate="novalidate"
              {{ form_enctype(val['form']) }}>

            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Add {{ val['field_label'] }}</h3>
            </div>

            <div class="modal-body">
                {{ form_widget(val['form'].value) }}
                {{ form_row(val['form']._token) }}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
{% endfor %}

{% endblock %}