<!DOCTYPE html>
<html>

    <head>
        <title>{{ yoghurt_site_name }}{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="{{ asset('bundles/spoiledmilkyoghurt/css/bootstrap.min.css') }}" type="text/css"  media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/spoiledmilkyoghurt/css/bootstrap-responsive.min.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/spoiledmilkyoghurt/css/smoothness/jquery-ui-1.8.20.custom.css') }}" type="text/css" media="all"/>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <script src="{{ asset('bundles/spoiledmilkyoghurt/js/jquery-1.7.2.min.js') }}"></script>
        <script src="{{ asset('bundles/spoiledmilkyoghurt/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/spoiledmilkyoghurt/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/spoiledmilkyoghurt/js/jquery-ui-timepicker-addon.js') }}"></script>
        
        {% block headscript %}{% endblock %}
    </head>
    
    <body>
        
        {{ render(controller('SpoiledMilkYoghurtBundle:Helper:topMenu')) }}
            
        <div class="container-fluid">
            {% for key, flash in app.session.getFlashes() %}
                <div class="row-fluid">
                    <div class="alert alert-{{key}}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{flash}}
                    </div>
                </div>
            {% endfor %}
            
            <div class="row-fluid">
                <div class="span2">
                    {% if is_granted('ROLE_USER') %}
                        {{ render(controller('SpoiledMilkYoghurtBundle:Helper:leftMenu')) }}
                    {% endif %}
                </div>
                    
                <div class="span10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        
    </body>

</html>
