<ul class="nav nav-pills nav-stacked">
    
    <li class="{% if activeIndex == 'publishing' %}active{% endif %}">
        <a href="{{ path('yoghurt_index') }}">Publishing</a>
    </li>

    <li class="nav-header" style="font-size: 105%">content</li>
    
    {% for entityType in entityTypes %}
        <li class="dropdown {% if entityType.id ~ '' == activeIndex %}active{% endif %}">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                {{ entityType.namePlural }}
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('yoghurt_entitytype_show', {'id': entityType.id}) }}">Show all</a>
                </li>

                <li>
                    <a href="{{ path('yoghurt_entity_new', {'type_id': entityType.id}) }}">Add new</a>
                </li>
            </ul>
        </li>
    {% endfor %}

    <li class="dropdown {% if activeIndex == 'vocabulary' %}active{% endif %}">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            Vocabularies
            <b class="caret"></b>
        </a>
            
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('yoghurt_vocabulary') }}">Show all</a>
            </li>

            <li>
                <a href="{{ path('yoghurt_vocabulary_new') }}">Add new</a>
            </li>
        </ul>
    </li>
    
    <li class="nav-header" style="font-size: 105%">administration</li>
    <li>
        <a href="{{ path('yoghurt_index_deleteunusedfiles') }}">
            <i class="icon-trash"></i>
            Remove unused files
        </a>
    </li>

    {% if is_granted('ROLE_ADMIN') %}
        
        <li class="{% if activeIndex == 'entityType' %}active{% endif %}">
            <a href="{{ path('yoghurt_entitytype') }}"><i class="icon-wrench {% if activeIndex == 'entityType' %}icon-white{% endif %}"></i> Entity types
            </a>
        </li>
        
        <li class="{% if activeIndex == 'user' %}active{% endif %}">
            <a href="{{ path('yoghurt_user') }}"><i class="icon-user {% if activeIndex == 'user' %}icon-white{% endif %}"></i> Users
            </a>
        </li>
    {% endif %}

</ul>
